[submodule "backend"]
	path = backend
	url = https://gitlab.merritt.es/music-library-player/backend.git
[submodule "client"]
	path = client
	url = https://gitlab.merritt.es/music-library-player/client.git
