[submodule "backend"]
	path = backend
	url = https://gitlab.com/music-library/backend.git
	branch = master
[submodule "client"]
	path = client
	url = https://gitlab.com/music-library/client.git
	branch = master
